*{
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url(../../../images/plano-de-fundo-preto28.webp);
  background-repeat: no-repeat;
  background-size: cover;
}


.mainContainer{
  width: 300px;
  background-color: #000;
  color: #fff;
  font-family: 'Georgia';
  border-radius: .5rem;
}

